body {
  background: rgb(15,164,202);
  background: -moz-linear-gradient(180deg, rgba(15,164,202,1) 0%, rgba(172,243,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(15,164,202,1) 0%, rgba(172,243,255,1) 100%);
  background: linear-gradient(180deg, rgba(15,164,202,1) 0%, rgba(172,243,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0fa4ca",endColorstr="#acf3ff",GradientType=1);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
